body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.emph {
    font-style: italic;
}

.logo {
    width: 40%;
    background-color: green;
}

.form-side {
    width: 60%;
    background-color: #FDFDFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-inputs {
    background-color: white;
    box-shadow: 0 0 20px 0px #888;
}

.form-inputs p {
    padding-top: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    margin: 10px 0;
}

label {
    text-transform: uppercase;
}

.form-section {
    display: flex;
    gap: 60px;
    align-items: space-evenly;
}

button {
    margin: 0 30px;
    padding: 15px 25px;
    border-radius: 5px;
}

.form-section, .action-text, .account-exist {
    padding: 0 30px;
    margin: 25px 0;
}