body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.5em;
}

.errorSubtext {
    font-size: 0.7em;
    color: #ff3c3c;
}

.emph {
    font-style: italic;
}

.logo {
    width: 40%;
    height: 100vh;
}

.bckg-image {
    height: 100%;
}

.call-to-action {
    padding-left: 30px;
    width: 75%;
}

.call-to-action .action-text {
    margin: 25px 0;
    line-height: 1.15em;
}

.form-side {
    width: 60%;
    background-color: #FDFDFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-section {
    display: flex;
    gap: 120px;
    align-items: space-evenly;
}

.form-inputs {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 40px 30px;
    background-color: white;
    box-shadow: 0 0 20px 0px #888;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.form-inputs .action-text {
    margin-bottom: 25px;
}

.form-item label {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 0.8em;
}

.form-item input {
    padding: 8px 5px;
    width: 200px;
    font-size: 14px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

.form-item input:focus {
    box-shadow: 1px 2px 3px 0px gray;
    outline: #0021ff solid 1px;
}

.password.error, .confirmpwd.error {
    /* background-color: #ff3c3c; */
    border: 1px solid #ff3c3c;
}

button {
    margin: 25px 30px;
    padding: 15px 50px;
    border-radius: 5px;
    background-color: #66b743;
    font-size: 1.1em;
    color: white;
    border: none;
    box-shadow: 2px 2px 5px 0 gray;
}

.account-exist {
    font-size: 0.9em;
    margin-left: 30px;
}

.account-exist a {
    color: #66b743;
    text-decoration: none;
    font-weight: bold;
}